<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Портал сообществ{% endblock %}</title>

        <script type="application/javascript" src={{ asset('libs/webix/webix.js') }}></script>

        {% block stylesheets %}

            <link rel="stylesheet" href={{ asset('libs/@fortawesome/fontawesome-free/css/all.css') }}>
            <link rel="stylesheet" href={{ asset('libs/bootstrap/dist/css/bootstrap.css') }}>
            <link rel="stylesheet" href={{ asset('libs/toastr/build/toastr.min.css') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}

        {% block javascripts %}
            <script type="application/javascript" src={{ asset('libs/toastr/build/toastr.min.js') }}></script>
            <script type="application/javascript" src={{ asset('libs/bootstrap/dist/js/bootstrap.js') }}></script>
            <script type="application/javascript" src={{ asset('libs/jquery/dist/jquery.min.js') }}></script>
           
        {% endblock %}
    </body>
</html>
