{% block header %}
	<header class="page-header">
		<div class="container-fluid d-flex">
			<div class="row">
				<div class="col-xl-2">
					<div class="header__logo">
						<a href="#" class="main-navbar__logo">
							<img src={{ asset("img/logo.svg") }} alt="логотип">
						</a>
					</div>
				</div>
				<div class="col-xl-10">
					<div class="navbar__wrapper">
						<navbar class="main-navbar">
							<div class="row justify-b menu-reverse">
								<div class="col-xl-5">
									<div class="main-navbar__left">
										<ul class="main-navbar__list">
											<li class="navbar__list__item navbar__list__item--active">
												<a href="/">Главная</a>
											</li>
											<li class="navbar__list__item">
												<a href="/petition">Обращения</a>
											</li>
											<li class="navbar__list__item">
												<a href="/result">Результаты</a>
											</li>
											<li class="navbar__list__item">
												<a href="/rating">Рейтинги</a>
											</li>
											<li class="navbar__list__item">
												<a href="/news">Новости</a>
											</li>
										</ul>
									</div>
								</div>
								<div class="col-xl-3 offset-1">
									<form class="navbar__form">
										<input type="search" name="search" class="navbar-search__input" placeholder="Искать обращение, жалобу, группу">
										<button class="navbar-search__btn"></button>
									</form>
								</div>
								<div class="col-xl-2">

									{% if is_granted('IS_AUTHENTICATED_FULLY') %}

										<div class="navbar__person">
											<img src={{ asset("img/person.png") }} alt="Фотография" class="navbar__person__img">
											<a href={{ asset("petition/group_petition") }} class="navbar__person__name"> <b>{{ app.user.people.fam }} {{ app.user.people.im }}</b> <br/><span style="color: gray">{{ app.user.email }}</span>  </a>

{#                                            <span><i class="fas fa-sign-out-alt"></i></span> #}
										</div>

									{% else %}
										<a
												href="#exampleModal"
												class="person__btn person__btn--active"
												data-toggle="modal"
												data-target="#exampleModal"
										>Зарегистрироваться</a>
										<a href="/login" class="person__btn">Войти</a>

									{% endif %}

								</div>
							</div>

						</navbar>
					</div>
				</div>
			</div>
			<button class="burger__trigger">
				<span></span>
			</button>
			<div class="mobile__menu">
				<ul class="mobile-navbar__list">
					<li class="mobile-navbar__list__item">
						<a href="/">Главная</a>
					</li>
					<li class="mobile-navbar__list__item">
						<a href="/petition">Обращения</a>
					</li>
					<li class="mobile-navbar__list__item">
						<a href="/result">Результаты</a>
					</li>
					<li class="mobile-navbar__list__item">
						<a href="/rating">Рейтинги</a>
					</li>
					<li class="mobile-navbar__list__item">
						<a href="/news">Новости</a>
					</li>
				</ul>
				<ul class="mobile-person__list">
					<li class="mobile-person__list__item">
						<a href="#">Зарегистрироваться</a>
					</li>
					<li class="mobile-person__list__item">
						<a href="#">Войти</a>
					</li>
				</ul>
			</div>

		</div>
	</header>

{% endblock %}
